@CHARSET "UTF-8";

table {
	width: auto;
	border-collapse: collapse;
	text-align: center;
}
 
td,th {
	font-size: 10pt;
	border: 1px solid #98bf21;
	height: 30px;
	padding: 5px;
}

th {
	background-color: #A7C942;
	color: #ffffff;
	font-family: Georgia;
}

tr td {
	color: #000000;
	background-color: #EAF2D3;
}

input {
	height: 25px;
	width:200px;
}

input[type="submit"],[type="reset"],[type="button"] {
	height: 25px;
	width:80px;
}